<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ex192_vaccineapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconvac"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iconvac"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ex192VaccineApp">
        <activity android:name=".SortActivity" />
        <activity android:name=".UpdateActivity" />
        <activity android:name=".CreditsActivity" />
        <activity android:name=".InputActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>